extends layout

block content

    div(class="main-wrapper" role="main")
        div(class="container main-content-container")
            .row
                div(class="jumbotron")

                    h3 Es ist ein Fehler aufgetreten!
                    p(class="lead") #{error}
                    hr(class='my-4')
