extends layout

block append stylesheets
    link(rel='stylesheet', type='text/css', href='/css/style.css')

block content
    div(class="main-wrapper" role="main")
        div(class="container main-content-container")
            h1 Diagramm: Tabellen
            img(src="/img/diagramm.PNG" alt="Tabellen Diagramm")
