extends layout

block append stylesheets
    link(rel='stylesheet', type='text/css', href='/css/style.css')

block content
    div(class="main-wrapper" role="main")
        div(class="container main-content-container")
            div.jumbotron
                center
                    h1 PL/SQL-Trainer
                br
                p(class="lead") Bitte wählen Sie ein Themengebiet aus:
                div(class='row')
                    a(href="/trigger" role="button")
                        div(class="col-sm-6 col-md-4")
                            div(class="btn btn-primary btn-block" style="padding: 50px 0")
                                h2 Trigger
                    a(href="/functions" role="button")
                        div(class="col-sm-6 col-md-4")
                            div(class="btn btn-primary btn-block" style="padding: 50px 0")
                                h2 Funktionen
                    a(href="/procedures" role="button")
                        div(class="col-sm-6 col-md-4")
                            div(class="btn btn-primary btn-block" style="padding: 50px 0")
                                h2 Prozeduren