extends ../../views/layout

block append stylesheets
    link(rel='stylesheet', type='text/css', href='/css/style.css')

block content
    div(class="main-wrapper" role="main")
        ol(class="breadcrumb")
            li(class="active")
                strong PL/SQL-Trainer (Functions-Trainer)
            li(class="active") Startseite
        br

        div.jumbotron
            center
                h1 Functions-Trainer
            p(class="lead") 
                | Mit dem Trainer für Funktionen können sie interaktiv in das Thema Oracle-PL/SQL und aktive Datenbanken einsteigen. Nach einer vorgegebenen 
                | Aufgabenbeschreibung erstellen Sie selbst eine PL/SQL-Funktion, die temporär in die Datenbank eingestellt, kompiliert und ausgeführt wird.
            p(class="lead") 
                | Es werden Ihnen Oracle-Fehlermeldungen zurückgeliefert, wenn Sie einen Syntaxfehler machen. Dabei ist zu beachten, 
                | dass der vorgegebene Name für die Funktion benutzt wird.
            p(class="lead") 
                | Falls die Funktion syntaktisch korrekt ist, wird geprüft, ob auch die Semantik der im Aufgabentext beschriebenen Anforderung genügt. 
                | Dazu wird die von Ihnen erstellte Funktion mit verschiedenen Parametern aufgerufen und mit der Musterlösung verglichen.

            center
                form(
                class=''
                method='get'
                action='/functions/questions'
                )

                button(type='submit', class='btn btn-primary btn-lg') Test starten
            br
