div(class="footer-wrapper")
    // ----------- Footer ------------
    footer(class="footer-bs")
        div(class="row")
            div(class="col-md-3 footer-brand animated fadeInLeft")
                h3 EDB - eLearning Datenbank

            // TODO Re-add copyright and impressum?